{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ partial "subscribe.html" . }}
  <p><a href="{{ "newsletter/index.xml" | relURL }}">Subscribe via RSS</a></p>
  <ul>
    {{ range .Pages.ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}
